In [1]:
#Import dependencies
import pandas as pd

In [5]:
#Import the datasets
sleep_df = pd.read_csv('Data/hourlyactivity_v1.csv')

In [7]:
sleep_df.head()

,Id,Date,TimeElapsed_ByHr,StepTotal,TotalIntensity,AverageIntensity,Calories
0,1503960366,4/12/2016,0:00,373,20,0.333333,81
1,1503960366,4/12/2016,1:00,160,8,0.133333,61
2,1503960366,4/12/2016,2:00,151,7,0.116667,59
3,1503960366,4/12/2016,3:00,0,0,0.000000,47
4,1503960366,4/12/2016,4:00,0,0,0.000000,48

In [16]:
sleep_df.rename({
    'Id': 'id',
    'Date': 'date',
    'TimeElapsed_ByHr': 'hour',
    'StepTotal': 'steps',
    'TotalIntensity': 'intensity',
    'AverageIntensity': 'avg_intensity',
    'Calories': 'calories'},
    inplace=True,
    axis='columns')
sleep_df

               id       date   hour  steps  intensity  avg_intensity  calories
0      1503960366  4/12/2016   0:00    373         20       0.333333        81
1      1503960366  4/12/2016   1:00    160          8       0.133333        61
2      1503960366  4/12/2016   2:00    151          7       0.116667        59
3      1503960366  4/12/2016   3:00      0          0       0.000000        47
4      1503960366  4/12/2016   4:00      0          0       0.000000        48
...           ...        ...    ...    ...        ...            ...       ...
22094  8877689391  5/12/2016  10:00    514         12       0.200000       126
22095  8877689391  5/12/2016  11:00   1407         29       0.483333       192
22096  8877689391  5/12/2016  12:00   3135         93       1.550000       321
22097  8877689391  5/12/2016  13:00    307          6       0.100000       101
22098  8877689391  5/12/2016  14:00    457          9       0.150000       113

[22099 rows x 7 columns]